{{define "Index"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loja GoLang</title>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Computador</td>
        <td>Computador core19X</td>
        <td>765.99</td>
        <td>1051</td>
      </tr>
      <tr>
        <td>Netbook</td>
        <td>Super netbook do futuro</td>
        <td>1299.89</td>
        <td>510</td>
      </tr>
    </tbody>
  </table>
</head>

<body>
  <h1>Loja com Golang</h1>
</body>

</html>
{{end}}