{{define "Index"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <title>Loja Go</title>
</head>
<nav class="navbar navbar-light bg-light mb-4">
  <a class="navbar-brand" href="/">Loja Go</a>
</nav>

<body>
  <div class="container">
    <section class="card">
      <div>
        <table class="table table-striped table-hover mb-0">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrição</th>
              <th>Preço</th>
              <th>Quantidade</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Super processador Terrano</td>
              <td>Processador com siliciano marciano banhado em zetano</td>
              <td>759.99</td>
              <td>5525</td>
            </tr>
            <tr>
              <td>NetBook do planeta Chormo</td>
              <td>NetBook via lactea</td>
              <td>551.99</td>
              <td>1050</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

  </div>
</body>

</html>
{{end}}